<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 mt-3">

      <!-- testing -->
      <%# @users.each do |user| %>
        <%#= user.bitcoin_address %>
      <%#s end %>

      <%= simple_form_for [@bank, @verification] do |f| %>

        <% @bank.plastics.each do |plastic| %>
          <%= f.fields_for :collected_plastics do |cp| %>
            <%= cp.input :plastic, readonly: true, input_html: { value: plastic.name } %>
            <%= cp.input :kg_collected %>
            <hr>
          <% end %>
        <% end %>

        <%= f.input :payment_type, collection: [ "Cash", "Bitcoin"] %>


        <%#= f.input :plastic, collection: @bank.plastics %>

        <%= f.button :submit, class: "btn btn-primary", data: { toggle: "modal", target: "#exampleModal" } %>
      <% end %>

     </div>
  </div>
</div>
