<style>
  table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}

td {
  border-left: solid 10px #000;
  padding: 0;
  margin: 0;
  width: 0px;
  height: 10px;
}

td.black { border-color: #000; }
td.white { border-color: #fff; }
</style>
<div class="container">
  <div id="business_view" class="<%= 'none' unless current_user.business %>">

    <% if Rails.env.production? %>
      <% @qr = RQRCode::QRCode.new("https://trashbounty.herokuapp.com/banks/#{@bank.id}/verifications/#{@verification.id}", size: 7, level: :h) %>
    <% else %>
      <% @qr = RQRCode::QRCode.new("https://91300a08.ngrok.io/banks/#{@bank.id}/verifications/#{@verification.id}", size: 6, level: :h) %>
    <% end %>

    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-xs-12">

          <h5 class="text-center text-primary"><strong>Collector must scan to Verify details</strong></h5>

          <!-- Gets current BTC price to calculate the exact BTC amount -->
          <!-- <%# if @verification.payment_type == "Bitcoin" %>
            <%# @satoshi = (@verification.total_amount / @verification.btc_price.to_i).to_f.round(8)  %>
            <p class="text-primary">Total Payment Amount to Collector: <%#= @satoshi %> BTC
              ($<%#= @verification.total_amount %>)</p>
            <p class="text-primary">Payment Type: <%#= @verification.payment_type %></p>
          <%# else %>

            <p class="text-primary">Payment Type: <%#= @verification.payment_type %></p>
            <p class="text-primary">Total Amount: $<%#= @verification.total_amount %></p>
          <%# end %> -->

          <hr>

          <%= raw @qr.as_html %>

          <hr>

        </div>
      </div>
    </div>
  </div> <!-- end Business View -->

<!-- AFTER QR CODE IS SCANNED BY COLLECTOR -->
  <div id="collector_view" class="<%= 'none' if current_user.business %>">

    <h3>Confirm the Details </h3>
    <%= simple_form_for @collection do |f| %>

      <!-- <%# if @verification.payment_type == "Bitcoin" %>
            <%# @satoshi_2 = (@verification.total_amount / @verification.btc_price.to_i).to_f.round(8)  %>
            <p><%#= @satoshi_2 %></p>
          <%# else %>
            <%#  %>
          <%# end %> -->

      <%= f.input :date, disabled: true, input_html: { value: @verification.date } %>
      <%= f.hidden_field :date, value: @verification.date %>

      <%= f.input :total_kg, disabled: true, input_html: { value: @verification.total_kg } %>
      <%= f.hidden_field :total_kg, value: @verification.total_kg %>

      <%= f.input :total_amount, disabled: true,
      input_html: { value: @verification.total_amount } %>


      <%= f.hidden_field :total_amount, value: @verification.total_amount %>

      <%= f.input :payment_type, disabled: true, input_html: { value: @verification.payment_type } %>
      <%= f.hidden_field :payment_type, value: @verification.payment_type %>
      <%= f.hidden_field :verification_id, value: @verification.id %>

      <%= f.hidden_field :bank_id, value: @bank.id.to_i %>


      <%= f.submit 'Accept', class: 'btn btn-primary' %>
      <%= link_to 'Reject', users_dashboard_path %>
    <% end %>
  </div>
</div>
