<div class="container">
  <div id="business_view" class="<%= 'none' unless current_user.business %>">

    <!-- <%# qrcode = RQRCode::QRCode.new("https://20f3ae91.ngrok.io/banks/" + @bank.id.to_s + "/verifications/" + @verification.id.to_s) %> -->

    <% if Rails.env.production? %>
      <% qrcode = RQRCode::QRCode.new("https://trashbounty.herokuapp.com/banks/" + @bank.id.to_s + "/verifications/" + @verification.id.to_s) %>
    <% else %>
      <% qrcode = RQRCode::QRCode.new("https://efa08145.ngrok.io/banks/" + @bank.id.to_s + "/verifications/" + @verification.id.to_s) %>
    <% end %>


          <%= "https://efa08145.ngrok.io/banks/#{@bank.id}/verifications/#{@verification.id.to_s}" %>
          <%= "https://trashbounty.herokuapp.com/banks/#{@bank.id}/verifications/#{@verification.id.to_s}" %>




    <% svg = qrcode.as_svg(
      offset: 0,
      color: '000',
      shape_rendering: 'crispEdges',
      module_size: 6
    ) %>


    <% IO.write(Rails.root.join('app', 'assets', 'images', 'qrcode.svg'), svg.to_s) %>

    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-xs-12">

          <p>Total Amount Recycle Bank Must Pay to Collector: </p>
         <!--  <p> $1.26 (0.0000723 BTC)</p> -->

          <!-- from the Verifications Controller -->
          <p>$<%#= @verification.total_amount %></p>
          <!-- get the price of bitcoin -->
          <%#= 105000 / @verification.total_amount %>


          <!-- take the @verification.total_amount * 10,500 = btc_price -->


          <hr>
          <p>Collector must scan this to verify the details of the Collection</p>
          <%= image_tag "qrcode.svg", alt: "alttext" %>
        </div>
      </div>
    </div>

  </div>

<!-- AFTER QR CODE IS SCANNED BY COLLECTOR -->
<!-- class="<%#= 'none' if current_user.business %>"> -->
  <div id="collector_view" class="<%= 'none' if current_user.business %>">

    <h3>Confirm the Details </h3>
    <%= simple_form_for @collection do |f| %>
      <%= f.input :date, disabled: true, input_html: { value: @verification.date } %>
      <%= f.hidden_field :date, value: @verification.date %>

      <%= f.input :total_kg, disabled: true, input_html: { value: @verification.total_kg } %>
      <%= f.hidden_field :total_kg, value: @verification.total_kg %>

      <%= f.input :total_amount, disabled: true, input_html: {
        value: @verification.total_amount } %>

      <%= f.hidden_field :total_amount, value: @verification.total_amount %>

      <%= f.input :payment_type, disabled: true, input_html: { value: @verification.payment_type } %>
      <%= f.hidden_field :payment_type, value: @verification.payment_type %>
      <%= f.hidden_field :verification_id, value: @verification.id %>

      <%= f.hidden_field :bank_id, value: @bank.id.to_i %>

      <%= f.submit 'Accept', class: 'btn btn-primary' %>
      <%= link_to 'Reject', users_dashboard_path %>
    <% end %>
  </div>
</div>
