<div class="info-window">
  <div class="row content-start">
    <h4><%= bank.name %></h4>
  </div>

  <div class="row content-start">
    <p> Type of materials : <%= bank.materials_accepted %></p>
  </div>
    <!-- avg rating of the bank -->
    <!-- <p><%#= bank.review.rating %></p> -->

    <!-- the rate the bank pays -->
    <!--<div class="row content-start"> -->
    <!-- <p><%#= bank.materials_accepted.rate_per_kg %></p> -->
    <% if bank.reviews.any? %>
<p>Average Rating: <%= bank.average_rating%> <i class="fas fa-star"></i></p>
    <% end %>
<p>Average Price per KG: $<%= bank.average_price%> <i class="fas fa-star"></i></p>
    <!-- display the average rate the bank pays -->
    <p><%= link_to "See more details", bank_path(bank) %></p>
    </div>
</div>
