<div class="info-window d-flex pt-2">
  <div class="card d-flex" style="width: 18rem;">
    <div class="d-flex">
      <div class="map-card">
        <img class="img-fluid" src="<%= asset_path('trashbounty-logo.png') %>" alt="Bank Image">
      </div>
      <div class="card-body map-card-body">
        <h6 class="card-title text-primary map-title"><%= bank.name %></h6>
        <% bank.average_rating%>
        <% bank.average_rating.times do %>
          <i class="y-star-card fas fa-star"></i>
        <% end %>
        <table class="table table-borderless map-table">
          <tr>
            <th scope="row">
              <i class="fas fa-map-marker-alt text-primary mr-2"></i>
            </th>
            <td class="text-primary"><small><%= bank.address %></small></td>
          </tr>

          <tr>
            <th scope="row">
              <i class="fas fa-phone text-primary mr-2"></i>
            </th>
            <td class="text-primary"><small><%= bank.phone_number %></small></td>
          </tr>
        </table>
        <div class="text-center mt-3">
          <%= link_to "See more details", bank_path(bank), class: "btn btn-primary"  %>
        </div>
      </div>
    </div>
  </div>
</div>





