<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <h1>Add the details of your recycling bank</h1>

      <%= simple_form_for @bank do |f| %>
        <%= f.input :name, placeholder: "Business name" %>
        <%= f.input :address %>
        <%= f.submit "Add Listing", class: "btn btn-primary" %>
        <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
      <% end %>

    </div>
  </div>
</div>


