<!-- <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"style="height: calc(50vh - 50px); width: 100vw"></div> -->



      <div id="map_show" class="mb-3" style="height: calc(50vh - 50px); width: 100vw" data-marker="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

      <!-- Card -->
      <div class="container">
        <h4 class="card-title text-primary"><%= @bank.name %></h4>
        <% @bank.average_rating.times do %>
         <i class="y-star fas fa-star"></i>
        <% end %>

        <hr>
        <!-- Info Table -->
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row" class="px-0 pb-3 pt-2">
                <i class="fas fa-map-marker-alt text-primary"></i>
              </th>
              <td class="pb-3 pt-2 text-primary"><%= @bank.address %></td>
            </tr>
            <tr class="mt-2">
              <th scope="row" class="px-0 pb-3 pt-2">
                <i class="far fa-clock text-primary"></i>
              </th>
              <td class="pb-3 pt-2 text-primary">Hours of Operations: Mon-Fri 09:00 - 17:00</td>
            </tr>
            <tr class="mt-2">
              <th scope="row" class="px-0 pb-3 pt-2">
                <i class="fas fa-phone text-primary"></i>
              </th>
              <td class="pb-3 pt-2 text-primary"><%= @bank.phone_number %></td>
            </tr>
          </tbody>
        </table>

          <!-- Price Table -->
        <h5 class="text-primary mb-3">Prices:</h5>
        <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="50%">
          <thead>
            <tr>
              <th class="th-sm">Type</th>
              <th class="th-sm">Price per KG</th>
            </tr>
          </thead>
          <tbody>
          <% @plastics.each do |plastic| %>
            <tr>
              <td><%= plastic.name %></td>
              <td>$<%= plastic.price_per_kg %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <h4 class="text-primary">Recent reviews</h4>
        <% @reviews.each do |review| %>
          <div class="card-product d-flex">
            <div>
              <% if @user.photo? %>
               <%= cl_image_tag @user.photo.url(:thumb), class: "avatar-bordered img-fluid ml-2" %>
              <% else %>
               <%= image_tag "default-avatar.png", class: "avatar-bordered img-fluid ml-2" %>
              <% end %>
            </div>
            <div class="card-product-infos d-flex row justify-content-around ml-2">
              <div>
                <% review.rating.times do %>
                  <i class="y-star fas fa-star"></i>
                <% end %>
              </div>
              <div class="ml-2">
                <p><strong>Comment:</strong> "<%= review.comment %>"</p>
                <p><strong>Date:</strong> <%= review.collection.date.strftime("%b %d, %Y") %></p>
              </div>
            </div>
          </div>
        <% end %>
        <div class="text-center mt-3 mb-5">
          <%= link_to "Search again", banks_path, class: "btn btn-lg btn-primary w-100 mt-3"  %>
        </div>
      </div>



