<!-- <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"style="height: calc(50vh - 50px); width: 100vw"></div> -->

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-xs-6">

<div id="map" style="height: calc(50vh - 50px); width: 100vw" data-marker="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="container">
  <h3><%= @bank.name %></h3>
  <p>Address: <%= @bank.address %></p>
  <p>Phone Number <%= @bank.phone_number %></p>
  <p>Materials Accepted: <%= @bank.materials_accepted %></p>
  <p>Products Accepted: <%= @bank.products_accepted %></p>
  <p>Rate: $<%= @bank.rate_per_kg %></p>


<h3>Recent reviews</h3>
<div class="card-product">
<!--   add Avatar here />
 -->  <p> <%= @bank.user.username  %></p>
  <div class="card-product-infos">
  <% @reviews.each do |review| %>
    <h2><%= review.rating %> <i class="fas fa-star"></i></h2>
    <p><strong>Comment:</strong> <%= review.comment %></p>
    <p><strong>Date:</strong> <%= review.collection.date.strftime("%b %d, %Y") %></p>

  <% end %>
  </div>
</div>




  <!-- display the username of the reviewer next to the by: -->

  <!-- renders Business (Recycle Bank) Users edit button  -->
  <!-- show 'edit' button that updates the bank instance -->
  <% if @user.business == true %>
    <%= link_to "Edit", edit_bank_path(@bank) %>

  <% else %>

  <% end %>
  <!-- renders Collector Users Dashboard  -->
<%= link_to "Search again", banks_path, class: "btn btn-lg btn-primary"  %>

</div>


     </div>
  </div>
</div>
