<style>
  table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  }
  td {
    border-left: solid 10px #000;
    padding: 0;
    margin: 0;
    width: 0px;
    height: 10px;
    }
  td.black { border-color: #000; }
  td.white { border-color: #fff; }
</style>
<!-- Users will have different Dashboard views -->

<!-- renders Collector Users Dashboard  -->
<% if @user.business == false %>
  <div class="container">
    <section id="tabs">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12">

          <div class="card promoting-card">
            <!-- Card content -->
            <div class="card-body d-flex flex-row card-pad">
              <div class="d-flex flex-column justify-content-center">
              <% if @user.photo? %>
                <%= cl_image_tag @user.photo.url(:thumb), class: "avatar-bordered-dash img-fluid" %>
              <% else %>
                <%= image_tag "don.png", class: "avatar-bordered-dash img-fluid" %>
              <% end %>
              <small class="mt-2 text-primary text-center"><%= link_to "Edit Profile", edit_user_registration_path %></small>
              </div>
              <div class="d-flex ml-4">
                <div class="align-self-center">
                  <h4 class="card-title font-weight-bold mb-2 align-self-center text-primary">Hi, <%= @user.username %></h4>
                  <p class="card-text text-primary"><%= link_to "Ranking:", leaderboard_path %> <%= @current_user_ranking %></p>
                </div>
              </div>
            </div>
          </div> <!-- End Profile Card -->


          <div class="ml-2 mb-2">
            <p class="card-text text-primary"><i class="dashboard-icons fas fa-phone mr-4"></i><%= @user.phone_number %></p>
            <p class="card-text text-primary"><i class="dashboard-icons fas fa-envelope mr-4"></i><%= @user.email%></p>
            <p class="card-text text-primary"><i class="dashboard-icons fab fa-bitcoin mr-4"></i>
              <%= @user.bitcoin_address %>
              <!-- Trigger the Modal -->
              <button style="background-color:white;" data-toggle="modal" data-target="#exampleModal">
               <i class="fas fa-qrcode" style="font-size:20px; color:black;"></i>
              </button>
            </p>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="text-wrap modal-title text-primary" id="exampleModalLabel" >My Bitcoin Address
                        <strong> <%= @user.bitcoin_address %> </strong></h5>
                    </div>


                      <div class="modal-body">
                        <% if @user.bitcoin_address %>
                          <!-- Transaction info -->
                        <% if @crypto_datas %>
                          <div class="container mb-3 text-primary">
                            <p><b>Confirmations: </b> <%= @crypto_datas[4] %></p>
                            <p><b>TX ID: </b><%= @crypto_datas[0] %></p>
                            <p><b>Amount: </b><%=@crypto_datas[1] %> BTC</p>
                            <p><b>Sender: </b><%= @crypto_datas[3] %></p>
                            <p><b>Receiver: </b><%= @crypto_datas[2] %></p>
                          </div>
                        <% else %>
                          <p>No previous transactions</p>
                        <% end %>
                          <div class="container ">
                            <div class="row justify-content-center align-items-center">
                            <!-- Receiving address QR code -->
                              <%= raw @qr.as_html %>
                            </div>
                          </div>
                        <% end %>
                      </div>


                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <hr class="divider">
          <!-- Dashboard Card -->

          <div class="card chart-card">
            <!-- Card content -->

            <div class="rm-padding card-body pb-0 d-flex justify-content-around">
              <div class="d-flex flex-column">
                <h5 class="text-center text-primary"><%# sum += collection.total_kg %><%= @sum %></h4>
                <p class="text-center pb-2 text-primary">Collected (kg)</p>
              </div>
              <div class="d-flex flex-column">
                <h5 class="text-center text-primary"><%= @cash.round(2) %></h4>
                <p class="text-center pb-2 text-primary">Amount Earned (USD)</p>
              </div>
            </div>
          </div>
            <!-- End Card content -->
          <hr class="divider">

            <!-- Dashboard Nav -->
            <nav class="mt-4">
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active text-primary" id="nav-summary-tab" data-toggle="tab" href="#nav-summary" role="tab" aria-controls="nav-summary" aria-selected="true">Summary</a>
                <a class="nav-item nav-link text-primary" id="nav-collections-tab" data-toggle="tab" href="#nav-collections" role="tab" aria-controls="nav-collections" aria-selected="false">Collections</a>
              </div>
            </nav>

            <!-- Tabs section -->
            <div class="tab-content mb-5 px-sm-0" id="nav-tabContent">
              <!-- Summary Tab -->
              <div class="tab-pane fade show active" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab">
                <div id="line_chart" class="chart" style="width: 100%; height: 50vh;"></div>
              </div>
              <!-- Collection History Tab -->
              <div class="tab-pane fade" id="nav-collections" role="tabpanel" aria-labelledby="nav-collections-tab">
              <p class="mt-3 text-primary">To add a new collection, open your Camera App to scan the QR code provided by the Recycle Bank.</p>


              <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="th-sm text-center">#</th>
                    <th class="th-sm text-center">Date</th>
                    <th class="th-sm text-center">Total Kg</th>
                    <th class="th-sm text-center">Amount ($)</th>
                    <th class="th-sm text-center">Payment Type</th>
                  </tr>
                </thead>
                <tbody id='info'>
                  <% counter = 0 %>
                  <% @collections.each do |collection| %>
                    <tr >
                      <td><%= link_to counter += 1, collection_path(collection.id) %></td>
                      <td><%= link_to collection.date.strftime("%b %d, %Y"), collection_path(collection.id) %></td>
                      <td><%= link_to collection.total_kg, collection_path(collection.id) %></td>
                      <td><%= link_to collection.total_amount, collection_path(collection.id) %></td>
                      <td><%= link_to collection.payment_type, collection_path(collection.id) %></td>
                    </tr>
                    <% end %>
                  </tbody>
                  </table>
                </div> <!-- End Collection History Tab -->
            </div> <!-- end Tabs content -->
            </div>

            <!-- End Card content -->
          </div> <!-- End Dashboard Card -->

        </div> <!-- end col-xs-12 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- Collector Dashboard Container -->

<% else %>

  <!-- renders Business (Recycle Bank) Users Dashboard  -->

  <div class="container business-dashboard">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 ">
         <div class="card promoting-card">
            <!-- Card content -->
          <div class="card-body d-flex flex-row card-pad mt-3">
            <div class="d-flex flex-column justify-content-center">
            <% if @user.photo? %>
              <%= cl_image_tag @user.photo.url(:thumb), class: "avatar-bordered-dash img-fluid" %>
            <% else %>
              <%= image_tag "simon.png", class: "avatar-bordered-dash img-fluid" %>
            <% end %>
            <small class="mt-2 text-primary text-center"><%= link_to "Edit Profile", edit_user_registration_path %></small>
            </div>
            <div class="d-flex ml-4">
              <div class="align-self-center">
                <h4 class="card-title font-weight-bold mb-2 align-self-center text-primary"><%= link_to @bank.name, bank_path(@bank)  %></h4>
              </div>
            </div>
          </div>
        </div>
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active text-primary" id="nav-bank-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-bank" aria-selected="true">New Collection</a>
            <a class="nav-item nav-link text-primary" id="nav-verification-tab" data-toggle="tab" href="#nav-verification" role="tab" aria-controls="nav-verification" aria-selected="false">Collections</a>
          </div>
        </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-bank" role="tabpanel" aria-labelledby="nav-bank-tab">
              <p class="text-primary">Click the QR Code below to generate a new collection:</p>
              <%= link_to new_bank_verification_path(@bank) do %>
                <img class="img-fluid p-3" src="<%= asset_path('qr-code.png') %>" alt="Bank Image">
              <% end %>
            </div>
          <div class="tab-pane fade" id="nav-verification" role="tabpanel" aria-labelledby="nav-verification-tab">
          <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="th-sm text-center">Date</th>
                <th class="th-sm text-center">Total Kg</th>
                <th class="th-sm text-center">Amount ($)</th>
                <th class="th-sm text-center">Payment Type</th>
              </tr>
            </thead>
            <tbody id='info'>
              <% counter = 0 %>
              <% @verifications.each do |verification| %>
              <tr >
                <td><%= verification.date.strftime("%b %d, %Y") %></td>
                <td><%= verification.total_kg %></td>
                <td><%= verification.total_amount %></td>
                <td><%= verification.payment_type %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<%#= link_to new_bank_verification_path(bank) %>










