  <!-- Users will have different Dashboard views -->

<!-- renders Collector Users Dashboard  -->


<% if @user.business == false %>
<div class="banner">
  <p class= "text-center"> Welcome <%= @user.username%> !</br>
  <!-- if no username=>error cause capitalizing a nill class, =>changed in sessions new username required  -->
   <%= @user.email %> </p>
  <p class= "text-center"> Ranking</p>
  </div>
<hr>
  <div class="container">
<<<<<<< HEAD
    <div class="row row-background-user">
      <div class="col col-money-user">
        <p class="text-center", style="text-decoration: underline";>Total Amount Earned</p>
        <p>IDR: </p>
        <p>BTC: <i class="fab fa-bitcoin"></i></p>
      </div>

      <div class="col col-waste-user">
        <p class="text-center", style="text-decoration: underline;">Total Amount Collected</p>
        <p>Kg: <i class="fas fa-trash-alt"></i></p>
      </div>

      <div class="w-100"></div>

      <div class="col col-history-user">
        <p class="text-center", style="text-decoration: underline;">View Collection History</p>
        <%= link_to users_dashboard_path, class: 'mr-3' do %>
        <!--change the link-->
      <p class="text-left">link to needed..</p>
    <% end %>
       <%= link_to users_dashboard_path, class: 'mr-3' do %>
        <!--change the link-->
      <p class="text-left">View All</p>
    <% end %>
      </div>

    </div>
=======
    <section id="tabs">
    <div class="container">
      <h6 class="section-title h1">Collector Dashboard</h6>
      <div class="row">
        <div class="col-xs-12">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-earned-tab" data-toggle="tab" href="#nav-earned" role="tab" aria-controls="nav-earned" aria-selected="true">Earned</a>
              <a class="nav-item nav-link" id="nav-collected-tab" data-toggle="tab" href="#nav-collected" role="tab" aria-controls="nav-collected" aria-selected="false">Collected</a>
              <a class="nav-item nav-link" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">Collection History</a>
            </div>
          </nav>
          <!-- Recycle Center Tab -->
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-earned" role="tabpanel" aria-labelledby="nav-earned-tab">
              <p>IDR: </p>
              <p>BTC: </p>
              <p>i should not be seeing this as a Collector User - (seeds)</p>
              <p>My Recycle Centers: <br>
                <% @banks.each do |bank| %>
                  <%= link_to bank.name, bank_path(bank) %>
                <% end %>
            </div>
            <!-- Total Collected Tab -->
            <div class="tab-pane fade" id="nav-collected" role="tabpanel" aria-labelledby="nav-collected-tab">
               <p>Total Kg Collected: </p>
               <p>should show a chart</p>
            </div>
            <!-- Collections Tab -->
            <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
              <p>link_to needed to show my Collections/Verifications</p>
             <!--  <p><%#= @user.collections %></p> -->

              <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
  width="100%">
                <thead>
                  <tr>
                    <th class="th-sm">#</th>
                    <th class="th-sm">Date</th>
                    <th class="th-sm">Total Kg</th>
                    <th class="th-sm">Total Amount</th>
                    <th class="th-sm">Payment Type</th>
                  </tr>
                </thead>
                <tbody>
                  <% counter = 0 %>
                  <%#= need to implement @collection.each here %>
                  <!-- clicking on an individual one should take me to collection#show -->
                  <!-- <%#= link_to counter,  %> -->
                  <tr>
                    <td><%= counter + 1 %></td>
                    <td>8/18/2019</td>
                    <td>4</td>
                    <td>?</td>
                    <td>Cash</td>
                  </tr>
                  <tr>
                    <td><%= counter + 1 %></td>
                    <td>8/7/2019</td>
                    <td>7</td>
                    <td>?</td>
                    <td>Cash</td>
                  </tr>
                  <tr>
                    <td><%= counter + 1 %></td>
                    <td>8/1/2019</td>
                    <td>0.5</td>
                    <td>?</td>
                    <td>Bitcoin</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div> <!-- end Tabs content -->
        </div> <!-- end col-xs-12 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
>>>>>>> cea34ffa62b0d931f0cc78feec40d1cb2f14fc4e
  </div> <!-- Collector Dashboard Container -->
  <hr>
  <div class= "banner banner-payment">
    <h3 class="text-left", style="text-decoration: underline;">To Receive Payments </h3>
      <i class="text-left">Please create a <a href="https://wallet.bitcoin.com/">Bitcoin</a> wallet if you do not have one
      <div class="text-left">My Receiving Bitcoin Address:
        <i class="fab fa-bitcoin"></i>
      </div>
  </div>

<% else %>
  <!-- renders Business (Recycle Bank) Users Dashboard  -->
  <div class="banner">
  <p class= "text-center"> Welcome <%= @user.username%> ! </br>
   <%= @user.email %> </p>
  <p class= "text-center"> rating of the bank </p>
  </div>
<hr>
  <div class="container">
<<<<<<< HEAD
    <div class="row">
      <div class="col">
        <!-- <img src="" alt=""> -->
        <p class="text-center", style="text-decoration: underline";>View My Recycle Bank</p>
        <p>(show page of recycle bank if user owns this bank, show the edit/destroy button) </p>
      </div>

      <div class="col">
        <!-- <img src="" alt=""> -->
        <%= link_to new_bank_path, class: 'mr-6' do %>
      <p class="text-center", style="text-decoration: underline";>Click here to see your transaction history!</p>
    <% end %>
      </div>
      </div>

      <div class="w-100"></div>

      <div class="col">
        <!-- <img src="" alt=""> -->
         <%= link_to new_bank_path, class: 'mr-6' do %>
      <p class="text-center", style="text-decoration: underline";>Click here to list a recycling bank!</p>
    <% end %>
      </div>

     <div class="col">
        <% @collections.each do |collection| %>
        <!-- <img src="" alt=""> -->
          <%= link_to collection_reviews_path(collection.id), class: 'mr-6' do %>
            <p class="text-center", style="text-decoration: underline";>Click here to see your reviews!</p>
          <% end %>
        <% end %>
      </div>
    </div>
=======
    <section id="tabs">
    <div class="container">
      <h6 class="section-title h1">Recycle Bank Dashboard</h6>
      <div class="row">
        <div class="col-xs-12 ">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-bank-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-bank" aria-selected="true">Recycle Banks</a>
              <a class="nav-item nav-link" id="nav-transaction-tab" data-toggle="tab" href="#nav-transaction" role="tab" aria-controls="nav-transaction" aria-selected="false">Transactions</a>
              <a class="nav-item nav-link" id="nav-review-tab" data-toggle="tab" href="#nav-review" role="tab" aria-controls="nav-review" aria-selected="false">Reviews</a>
            </div>
          </nav>
          <!-- Recycle Center Tab -->
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-bank" role="tabpanel" aria-labelledby="nav-bank-tab">
              <p>My Recycle Centers: <br>
                <% @banks.each do |bank| %>
                  <%= link_to bank.name, bank_path(bank) %>
                <% end %>
                <p>List a Recycling Center </p>
                  <%= link_to 'List a recycling center', new_bank_path, class: "btn btn-warning" %>
              </p>
            </div>
            <!-- Transactions Tab -->
            <div class="tab-pane fade" id="nav-transaction" role="tabpanel" aria-labelledby="nav-transaction-tab">
               <p>View Transaction History here?</p>
            </div>
            <!-- Reviews Tab -->
            <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
              <p>see all my reviews here...?</p>
            </div>
          </div> <!-- end Tabs content -->
        </div> <!-- end col-xs-12 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
>>>>>>> cea34ffa62b0d931f0cc78feec40d1cb2f14fc4e
  </div> <!-- Business (Recycle Bank) Dashboard Container -->
<% end %>





