
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand mr-auto" href="#"><img src="<%= asset_path('tb-logo-white.png') %>" alt="" width="68" height="68"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li>
          <a class="nav-item nav-link text-white mr-3" href="#about">About</a>
        </li>
        <li>
          <a class="nav-item nav-link text-white mr-3" href="#bank">Banks</a>
        </li>
        <li>
          <a class="nav-item nav-link text-white mr-3" href="#collectors">Collectors</a>
        </li>
        <li>
          <a class="nav-item nav-link text-white" <%= link_to "Help", help_path %></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

  <style>
    .JumboHeaderImg{
      background-image: url("<%= asset_path('jumbotron_img.jpg') %>");
      background-size: cover;
    }
  </style>

  <div class="jumbotron jumbotron-fluid JumboHeaderImg bg-info text-white">
    <div class="hm_container">
        <img class="" src="<%= asset_path('trashbounty-logo.png') %>" alt="" width="150" height="150">
        <p class="lead">Turning waste into a commodity</p>
        <div class="signin-signup mt-5">
          <button type="button" class="col-6 col-lg-4 btn btn-lg btn-primary btn-block"><%= link_to "Sign Up", new_user_registration_path %></button>
          <button type="button" class="col-6 col-lg-4 btn btn-lg btn-primary btn-block mt-3"><%= link_to "Sign In", new_user_session_path %></button>
        </div>
    </div>
  </div>

<div class="container">
  <h3 id="about" class="display-4 text-center my-5 text-primary">About Us</h3>
  <p class="text-primary">It‘s our mission to stop Ocean Plastic by gathering people together to monetize waste while improving lives. Trash Bounty is a root cause solution to prevent the flow of plastic into our oceans.</p>

  <h3 class="mt-5 text-primary">Meet the Team</h3>

  <div class="row d-flex">

    <div class="person-card col-9 col-md-6 col-xl-3 p-5 mx-auto">
      <div class="card mb-3">
        <img class="card-img-top img-fluid" src="<%= asset_path('mike.png') %>" alt="Mike Profile Image" height="220">
        <div class="card-body">
          <h4 class="card-title text-center my-3 text-primary">Mike Day</h4>
          <p class="card-text text-primary">The visionary for Trash Bounty, also known as the Messiah. Mike was inspired to start Trash Bounty after his 12 years in Thailand and noticing the devastating impact of single use plastic is having on our environment.</p>
        </div>
      </div>
    </div>

    <div class="person-card col-9 col-md-6 col-xl-3 p-5 mx-auto">
      <div class="card mb-3">
        <img class="card-img-top img-fluid" src="<%= asset_path('don.png') %>" alt="Don Profile Image" height="220">
        <div class="card-body">
          <h4 class="card-title text-center my-3 text-primary">Don Park</h4>
          <p class="card-text text-primary">Our Crypto genius on the team. Don brings his extensive knowledge of cryptocurrencies to Trash Bounty platform to ensure that even the unbanked can use our platform.</p>
        </div>
      </div>
    </div>

    <div class="person-card col-9 col-md-6 col-xl-3 p-5 mx-auto">
      <div class="card mb-3">
        <img class="card-img-top img-fluid" src="<%= asset_path('neville.png') %>" alt="Neville Profile Image" height="220">
        <div class="card-body">
          <h4 class="card-title text-center my-3 text-primary">Neville Mottet</h4>
          <p class="card-text text-primary">When he's not at one of Canggus Fast Food restaurants, Neville can be found in our Trash Bounty offices making our application look beauiful.</p>
        </div>
      </div>
    </div>

    <div class="person-card col-9 col-md-6 col-xl-3 p-5 mx-auto">
      <div class="card mb-3">
        <img class="card-img-top img-fluid" src="<%= asset_path('simon.png') %>" alt="Simon Profile Image" height="220">
        <div class="card-body">
          <h4 class="card-title text-center my-3 text-primary">Simon Lindsay</h4>
          <p class="card-text text-primary">After selling his soul for the last decade working in the world of Investment Banking. Simon has now decided to use his powers for good and join the Trash Bounty team.</p>
        </div>
      </div>
    </div>
  </div>

  <h3 id="bank" class="display-4 text-center my-5 text-primary">Find a Bank</h3>

  <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"style="height: calc(100vh - 65px - 54px); width: 100%"></div>

  <h3 id="collectors" class="display-4 text-center my-5 text-primary">Join the Revolution</h3>

  <p class="lead"><strong><%= @sum %> kg</strong> collected and counting...</p>

  <hr>

  <div class="row py-4 text-muted">
    <div class="col-8 offset-2">
      <p class="text-center text-primary"><strong>Stay up-to-date with Trash Bounty</strong></p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Email">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Sign up</button>
        </span>
      </div>
    </div>
  </div>

  <hr>

  <div class="row py-3">
    <div class="mx-auto">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="social-icons fab fa-facebook-square"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="social-icons fab fa-twitter-square"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="social-icons fab fa-github-square"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="social-icons fab fa-youtube-square"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div>
      <small class="d-block text-center mb-4 text-primary">&copy; <%= Time.now.strftime("%Y") %> Trash Bounty</small>
  </div>
</div>
