<div class="banner-sign-in">
  <div class="background-picture">
  <div class="banner-content text-center">
      <h1>Trash Bounty!</h1>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <i class="fas fa-user-tie"></i>
    <%= f.input :email, label:false,
                required: false,
                autofocus: true,
                placeholder: "Username or email",
                input_html: { autocomplete: "email" } %>
    <i class="fas fa-unlock-alt"></i>
    <%= f.input :password, label:false,
                required: false,
                placeholder: "Password",
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign In", class: "btn btn-primary btn-center btn-lg" %>
   </div>
<% end %>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end %>

  </div>
</div>
</div>
