<div class="banner">

<div class="container-fluid" style="height: 100vh;">
    <div class="ml-2 pt-3 row justify-content-start">
        <div class="col-xs-2"><img src="<%= asset_path('trashbounty-logo.png') %>" alt="trashbounty logo" height="40vh" width="40vw">
        </div>
    </div>
      <div class="ml-2 row justify-content-start">
        <div class="col-xs-6"><h1>Trash Bounty</h1>
        </div>
      </div>
        <div class="ml-3 row justify-content-start">
          <div class="col-xs-6"><p>Turning waste into a commodity</p>
          </div>
        </div>



  <div class= "form-inputs">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class=" pt-5 d-flex align-items-center justify-content-center">
    <i class="fas fa-user-tie" style="margin-bottom: 1rem"></i>
    <%= f.input :email, label:false,
                required: false,
                autofocus: true,
                placeholder: "Username or email",
                input_html: { autocomplete: "email" } %>
  </div>
  <br/>
    <div class=" pt-2 d-flex align-items-center justify-content-center">
    <i class="fas fa-unlock-alt" style="margin-bottom: 1rem"></i>
    <%= f.input :password, label:false,
                required: false,
                placeholder: "Password",
                input_html: { autocomplete: "current-password" } %>
    </div>
     <div class="row justify-content-center">
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions", style="text-align: center;">
    <%= f.button :submit, "Sign In", class: "btn btn-center btn-primary btn-lg" %>
   </div>
<% end %>


      <div class="row justify-content-center">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end %>
    </div>
  </div>
</div>
</div>
