<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trash Bounty</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body>

    <% unless controller.controller_name == "pages" && controller.action_name == "home" ||
      controller.controller_name == "registrations" && controller.action_name == "new" ||
      controller.controller_name == "sessions" && controller.action_name == "new" %>
        <%= render 'shared/navbar' %>
    <% end %>

    <!-- flash needs to be fixed (review github issues) -->
    <%= render 'shared/flashes' %>

    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>


<%#= ENV['GOOGLE_MAPS_API_KEY'] %>
