<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trash Bounty</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

<!-- added according to google charts instructions-->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
          <!--Load the AJAX API-->
</head>
  <body>
    <% unless controller.controller_name == "pages" && controller.action_name == "home" ||
      controller.controller_name == "registrations" && controller.action_name == "new" ||
      controller.controller_name == "sessions" && controller.action_name == "new" %>
        <%= render 'shared/navbar' %>
    <% end %>

    <!-- flash needs to be fixed (review github issues) -->
    <%= render 'shared/flashes' %>
    <div class="content">
      <%= yield %>
    </div>

    <script src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

      <% unless controller.controller_name == "pages" && controller.action_name == "home" ||
      controller.controller_name == "registrations" && controller.action_name == "new" ||
      controller.controller_name == "sessions" && controller.action_name == "new" %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>


<%#= ENV['GOOGLE_MAPS_API_KEY'] %>
